*{
	margin: 0;
}	
	body
	{
		background-color: #ffffff;
	}

	#img1
	{	

		margin: auto;			
		width: 100%;
		display: block;
		text-align: center;
	}


#img6
{
	border:2px solid #777;
	height: 50%;	
	margin: auto;			
	width: 50%;
	display: block;
	text-align: center;

}


	#img3
	{	
		border: 2px solid #777;	
		margin: auto;			
		width: 100%;
		height: 200%;	
		display: block;
		text-align: center;
	}

	#img2
	{
			border: 2px solid #777;
			width:100%;
			height: 10%;
			display: block;
	}

	#imgabt
	{
		height: 120px;
		width: 120px;
		padding-left: 30px;
	}


	h1,h2,h3,h4,h5,h6
	{
		font-family: "avenir", sans-serif;
	}

	#paraset
	{
		margin-top: 5%;
	}

	#pr
	{
		color: #3399ff;
	}

	p
	{
		color:#000000;
		word-spacing: 2px;
		font-family: "avenir", sans-serif;
		font-size: 17px;
		text-align: center;
		margin: 0 auto ;
	}

#botresnavgi	
		{	
			text-align: center;
			background-color:#000000;
			position:fixed;
			bottom:0;
			left:0;
			width:100%;	
			padding-top: 3%;
			padding-right: 0 auto; 
			padding-bottom: 3%;
		}


	@media only screen and (max-width: 320px)
	{
		#botresnavgi
		{
			padding-left: 9%;
		}
	}

	@media only screen and (min-width: 321px) and (max-width: 767px)
	{
		#botresnavgi
		{
			padding-left: 15%;
		}
	}

		#mfliphome,#mflipabt,#mflipprod,#mflipcont	
		{	
			font-family: "avenir", sans-serif;
			display: inline-block;
			float: left;
			font-size: 15px;
			color:white;	 
			margin:2%;
		}


	#panelhome
	{
		background-color: #ffffff;			
	}

	#panelabt,#panelprod,#panelcont
	{
		display: none;
		width: 100%;		
		background-color: #ffffff;		
	}				


	.mhide
	{
		display: none;
	}


	div.gallery
	{
	    border: 1px solid #3385ff	;
	}

	div.gallery:hover 
	{
	    border: 1px solid #777;
	}

	div.gallery img 
	{
	    width: 100%;
	    height: 250px;
	}

	div.desc 
	{
		font-family:"avenir", sans-serif;
		font-size:11px;
		border: 1px solid #777;
	    background-color:#d9d9d9;
	    padding: 15px;
	    text-align: center;
	}

	* {
	    box-sizing: border-box;
	}

	.responsive 
	{
	    padding: 0 6px;
	    float: left;
	    width: 24.99999%;
	}

	@media only screen and (max-width: 700px)
	{
		    .responsive 
	    {
	        width: 49.99999%;
	        margin: 6px 0;
	    }
	}

	@media only screen and (max-width: 100px)
	{
	    .responsive 
	    {
	        width: 100%;
	    }
	}



	.bla
	{
		margin: 0;
		margin-bottom: 50px;
		padding:40px;
		margin-top: 170px;
		font-family: 'Pacifico', cursive;
		width: 100%;
		color: white;
		background-color:black;
	}

	.mmhide
	{
		display: none;
	}

	#headers
	{
		font-size: 24px;
		font-family: "avenir", sans-serif;	
	}



#pfot
{
	font-size: 18px;
	font-family: "avenir", sans-serif;
	color: #ffff1a;	
}


	#icon
	{
		
		text-decoration: none;
		color:#ffffff;
		word-spacing: 10px;
	}					
	#icon:hover
	{
		text-decoration:none;
		color:red;
	}

* {box-sizing: border-box}

.container 
{
	border: 2px solid #777;
	text-align: center;
  	width: 70%;
  	background-color: #ddd;
  	border-radius: 9px;
  	box-shadow: 5px 5px #000;
}

.skills 
{

  	padding-left: 60px;
  	line-height: 20px;
  	text-align: left;
	color: black;
	font-size:20px;
	font-family:"avenir",cursive; 
}

p.skills
{
	color: black;
	font-size:20px;
	font-family:"avenir",cursive; 
	padding-left:0px;
}	


.mrs {width: 96%; background-color: #99ccff;}
.eps {width: 92%; background-color: #99ccff;}
.cds {width: 95%; background-color: #99ccff;}
.sus {width: 97%; background-color: #99ccff;}
.fd{width: 99%; background-color: #99ccff;}

.skills2
{

  	padding-left: 60px;
  	line-height: 20px;
  	text-align: left;
	color: black;
	font-size:20px;
	font-family:"avenir",cursive; 
		font-weight: bold;
}

p.skills2
{
	color: black;
	font-size:20px;
	font-family:"avenir",cursive; 
	padding-left:0px;
}	
       

.dmr{width: 97%; background-color: #99ccff;}
.da {width: 95%; background-color: #99ccff;}
.di {width: 95%; background-color: #99ccff;}
.dtg {width: 99%; background-color: #99ccff;}


.skills3
{

  	padding-left: 60px;
  	line-height: 20px;
  	text-align: left;
	color: black;
	font-size:20px;
	font-family:"avenir",cursive; 
	font-weight: bold;	
}

p.skills3
{
	color: black;
	font-size:20px;
	font-family:"avenir",cursive; 
	padding-left:0px;
}	
       

.kmr{width: 95%; background-color: #99ccff;}
.ka {width: 93%; background-color: #99ccff;}
.ki {width: 98%; background-color: #99ccff;}
.ktg {width: 99%; background-color: #99ccff;}


/*contact form */


		.main
		{
			width: 500px;
			margin: 50px auto;
			border-radius: 10px;
			border: 2px solid #4da6ff;
			box-shadow: 1px 2px 10px #555;
		}
		.info
		{
			width: 100%;
			background-color: #4da6ff;
			padding: 7px;
			text-shadow: 1px 1px 1px #222;
			color: #fff;
			font-size: 20px;
		}
		.form-box
		{
			padding: 20px;
			background-color: #eee;
		}
		label
		{
			color: #4da6ff;
			font-size: 18px;
		}
		.inp,.msg-box
		{
			width: 100%;
			padding: 10px;
			margin-top: 4px;
			margin-bottom: 5px;
			border-radius: 5px;
			border: 2px solid #4da6ff;
			font-weight: bold;
			color: #4da6ff;
			border-right: 15px solid #4da6ff;
			border-left: 15px solid #4da6ff;
			resize: none;
		}
		.msg-box
		{
			height: 80px;
		}
		.inp:focus,.msg-box:focus
		{
			outline: none;
			border: 2px solid navy;
			border-right: 15px solid navy;
			border-left: 15px solid navy;
		}
		.sub-btn
		{
			width: 100%;
			padding: 10px;
			border-radius: 5px;
			margin-top: 5px;
			border: none;
			background: linear-gradient(#4da6ff,#0059b3);
			cursor: pointer;
			color: #fff;
			font-size: 20px;
			text-shadow: 1px 1px 1px #444;
		}
		.sub-btn:hover
		{
			background: linear-gradient(#0059b3,#4da6ff);
			opacity: 0.8;
			transition: all ease-out 0.2s;
		}
		.sub-btn:focus
		{
			outline: none;
		}
		@media(max-width: 720px)
		{
			.main
			{
				width: 90%;
			}
		}

#imgp
{
	width:100%;
	height:30%;
	border:1px solid black;
}		

#descp
{
	height: 0 auto;
	width: 100%;
	background-color:#d9d9d9;	
	border: 1px solid #000000;
    text-align: center;	
}


br
{
	color: white;
}
/*animation or slideshow*/

* {box-sizing: border-box;}

	
/* Slideshow container */
.slideshow-container {
  max-width: 450px; 
  
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}
