*{
	margin: 0;
}
body
	{
		background-image: url("https://preview.ibb.co/c6sKvJ/wood.jpg");
	}

.homeimg
{
	width: 300px;
	height: 300px;	
}

.logo
{
	height: 18%;
	width: 18%;
	margin-top: 2%;	
}
	

#img1
{
	height: 180px;	
	margin: auto;
	padding-top: 60px;		
	width: 60%;
	display: block;
	text-align: center;
}

#img7
{
	margin-left:525px; 

}

#img6
{
	border:2px solid #777;
	height: 20%;	
	margin: auto;			
	width: 20%;
	display: block;
	text-align: center;

}

#img3
{	
	border:2px solid #777;
	height: 200px;	
	margin: auto;			
	width: 100%;
	display: block;
	text-align: center;

}


#img2
{
		border: 2px solid #777;
		width:250px;
		height:250px;
}

#imgabt
{
	height: 200px;
	width: 430px;
	padding-left: 270px;
}

h1,h2,h3,h4,h5,h6
{
	padding-left: 230px;
	font-family: "avenir", sans-serif;
}


#prodset
{
	padding-top: 200px;
}


#paraset
{
	text-align: justify;
	color:#000000;
	font-family: "avenir", sans-serif;
	font-size: 16px;
	padding-left: 65px;
	height: 200px;
	width: 450px;
	float: left;
}

#paraabtus
{
	text-align: center;
	color: #737373;
	font-family: "avenir",sans-serif;
	font-size: 18px;
	margin: 0px 250px 0px 250px;
}

#pinnav
		{
			padding-bottom:  0 auto ;	
		}

#resnavgi	
{
	background-color: #000000;
	position:fixed;
	font-family: "avenir", sans-serif;
	text-align:center;
	top:0;
	left: 0;
	width:100%;
	display: block;
	padding-right:6%;
}	
					
#panelhome
{
	background-image: url("wood.jpg");

}

#panelabt,#panelprod,#panelcont
{
	display: none;
	width: 100%;		
	background-image: url("wood.jpg");	
}				


#fliplogo,#fliphome,#flipabt,#flipprod,#flipcont
{
	float: left;	
	font-size: 25px;
	margin-top: 1%;
	color:#ffffff;
	padding-left: 8%;	 
	/*transition: width 2s, height 2s, transform 1s;*/
}

#fliplogo:hover,#fliphome:hover,#flipabt:hover,#flipprod:hover,#flipcont:hover
{
/*	transform: rotate(360deg);*/
	cursor: pointer;

}

i{
	transition: width 2s, height 2s, transform 1s;	
}			

i:hover
{
	transform: rotate(360deg);	
}
			
div.gallery
{
	border: 5px solid #3385ff	;
}

div.gallery img 
{
	margin-left: 30px;
    font-family: "avenir", sans-serif;
    width: 0 auto;
    height: 350px;
}

div.desc
{
	background-color:#d9d9d9;	
	border: 5px solid #777;
    padding: 5px;
    text-align: center;
}

* {
    box-sizing: border-box;
}

.responsive 
{
    padding: 0 6px;
    float: left;
    width: 24.99999%;
}

@media only screen and (max-width: 700px)
{
    .responsive
    {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 100px)
{
    .responsive 
    {
        width: 100%;
    }
}

.clearfix:after 
{
    content: "";
    display: table;
    clear: both;
}
 

.bla
{

	padding: 10px;
	margin-top: 110px;
	font-family: 'Pacifico', cursive;
	width: 100%;
	color: white;
	background-color:black;
}


.deskhide
{
	display: none;
}

#headers
{
	font-size: 30px;
	font-family: "avenir", sans-serif;	
}


#pfot
{
	padding-left: 230px;
	font-size: 18px;
	font-family: "avenir", sans-serif;
	color: #ffff1a;	
}

#icon
{
	text-decoration: none;
	color:#4286f4;
	word-spacing: 10px;
}					
#icon:hover
{
	text-decoration:none;
	color:red;
}

#map {
		margin: 0;
		padding: 0;
        height: 400px;
        width: 100%;
       }

* {box-sizing: border-box}

	.container 
{
	text-align: center;
  	width: 50%;
  	background-color: #ddd;
  	border-radius: 9px;
  	box-shadow: 5px 5px #000;
}

.skills 
{
  
  	padding-left: 230px;
  	line-height: 40px;
  	text-align: left;
	color: black;
	font-size:20px;
	font-family: "avenir", sans-serif; 
	font-weight: bold;
}

p.skills
{
	color: black;
	font-size:20px;
	font-family: "avenir", sans-serif;
	padding-left:0px;
}	


.mrs {width: 96%; background-color: #99ccff;}
.eps {width: 92%; background-color: #99ccff;}
.cds {width: 95%; background-color: #99ccff;}
.sus {width: 97%; background-color: #99ccff;}
.fd{width: 99%; background-color: #99ccff;}

.skills2 
{
  
  	padding-left: 230px;
  	line-height: 40px;
  	text-align: left;
	color: black;
	font-size:20px;
	font-family: "avenir", sans-serif; 
	font-weight: bold;	
}

p.skills2
{
	color: black;
	font-size:20px;
	font-family: "avenir", sans-serif;
	padding-left:0px;
}	


.dmr{width: 97%; background-color: #99ccff;}
.da {width: 95%; background-color: #99ccff;}
.di {width: 95%; background-color: #99ccff;}
.dtg {width: 99%; background-color: #99ccff;}

 
.skills3 
{
  
  	padding-left: 230px;
  	line-height: 40px;
  	text-align: left;
	color: black;
	font-size:20px;
	font-family: "avenir", sans-serif; 
}

p.skills3
{
	color: black;
	font-size:20px;
	font-family: "avenir", sans-serif;
	padding-left:0px;
	font-weight: bold;	
}	


.kmr{width: 95%; background-color: #99ccff;}
.ka {width: 93%; background-color: #99ccff;}
.ki {width: 98%; background-color: #99ccff;}
.ktg {width: 99%; background-color: #99ccff;}

/*contact form */


		.main
		{
			width: 500px;
			margin: 50px auto;
			border-radius: 10px;
			border: 2px solid #4da6ff;
			box-shadow: 1px 2px 10px #555;
		}
		.info
		{
			width: 100%;
			background-color: #4da6ff;
			padding: 7px;
			text-shadow: 1px 1px 1px #222;
			color: #fff;
			font-size: 20px;
		}
		.form-box
		{
			padding: 20px;
			background-color: #eee;
		}
		label
		{
			color: #4da6ff;
			font-size: 18px;
		}
		.inp,.msg-box
		{
			width: 100%;
			padding: 10px;
			margin-top: 4px;
			margin-bottom: 5px;
			border-radius: 5px;
			border: 2px solid #4da6ff;
			font-weight: bold;
			color: #4da6ff;
			border-right: 15px solid #4da6ff;
			border-left: 15px solid #4da6ff;
			resize: none;
		}
		.msg-box
		{
			height: 80px;
		}
		.inp:focus,.msg-box:focus
		{
			outline: none;
			border: 2px solid navy;
			border-right: 15px solid navy;
			border-left: 15px solid navy;
		}
		.sub-btn
		{
			width: 100%;
			padding: 10px;
			border-radius: 5px;
			margin-top: 5px;
			border: none;
			background: linear-gradient(#4da6ff,#0059b3);
			cursor: pointer;
			color: #fff;
			font-size: 20px;
			text-shadow: 1px 1px 1px #444;
		}
		.sub-btn:hover
		{
			background: linear-gradient(#0059b3,#4da6ff);
			opacity: 0.8;
			transition: all ease-out 0.2s;
		}
		.sub-btn:focus
		{
			outline: none;
		}
		@media(max-width: 720px)
		{
			.main
			{
				width: 90%;
			}
		
		}

br
{
	color: white;
}
		
#top{
	padding-top: 250px;
}

.imgpro{
	padding: 15px;
}

#imgp
{
	width:1200px;
	height:1200px;
	border:1px solid black;
}		



#descp
{
	height: 0 auto;
	width: 1200px;
	background-color:#d9d9d9;	
	border: 1px solid #000000;
    text-align: center;	
}

/*animation or slideshow*/

* {box-sizing: border-box;}
.mySlides {
	margin-left: 40%;
}
	
/* Slideshow container */
.slideshow-container {
  max-width: 450px; 
  
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}




.animatable {
  
  /* initially hide animatable objects */
  visibility: hidden;
  
  /* initially pause animatable objects their animations */
  -webkit-animation-play-state: paused;   
  -moz-animation-play-state: paused;     
  -ms-animation-play-state: paused;
  -o-animation-play-state: paused;   
  animation-play-state: paused; 
}

/* show objects being animated */
.animate-in {
  visibility: visible;
  
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
  
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -ms-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;

  -webkit-animation-play-state: running;
  -moz-animation-play-state: running;
  -ms-animation-play-state: running;
  -o-animation-play-state: running;
  animation-play-state: running;
}

.animate-out {
  visibility: visible;
  
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
  
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -ms-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;

  -webkit-animation-play-state: running;
  -moz-animation-play-state: running;
  -ms-animation-play-state: running;
  -o-animation-play-state: running;
  animation-play-state: running;

  -webkit-animation-direction: reverse;
  -moz-animation-direction: reverse;
  -ms-animation-direction: reverse;
  -o-animation-direction: reverse;
  animation-direction: reverse;
}

.animate-out:after {
  content ''
  letter-spacing: inherit;
}

/* CSS Animations (extracted from http://glifo.uiparade.com/) */
@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
  } 100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}

@-moz-keyframes fadeInDown {
  0% {
    opacity: 0;
    -moz-transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    -moz-transform: translateY(0);
  }
}

@-o-keyframes fadeInDown {
  0% {
    opacity: 0;
    -o-transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    -o-transform: translateY(0);
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}



@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
  } 100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}

@-moz-keyframes fadeInUp {
  0% {
    opacity: 0;
    -moz-transform: translateY(20px);
  }

  100% {
    opacity: 1;
    -moz-transform: translateY(0);
  }
}

@-o-keyframes fadeInUp {
  0% {
    opacity: 0;
    -o-transform: translateY(20px);
  }

  100% {
    opacity: 1;
    -o-transform: translateY(0);
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-in.animationDelay, .animate-out.animationDelay {
  animation-delay:.4s;
  -webkit-animation-delay:.4s;
}
.animate-in.animationDelayMed, .animate-out.animationDelayMed {
  animation-delay:1.2s;
  -webkit-animation-delay:1.2s;
}
.animate-in.animationDelayLong, .animate-out.animationDelayLong {
  animation-delay:1.6s;
  -webkit-animation-delay:1.6s;
}
.animate-in.fadeIn, .animate-out.fadeIn {
  -webkit-animation-name: fadeIn;
  -moz-animation-name: fadeIn;
  -o-animation-name: fadeIn;
  animation-name: fadeIn;
}
.animate-in.fadeInDown, .animate-out.fadeInDown {
  -webkit-animation-name: fadeInDown;
  -moz-animation-name: fadeInDown;
  -o-animation-name: fadeInDown;
  animation-name: fadeInDown;
}
.animate-in.fadeInUp, .animate-out.fadeInUp {
  -webkit-animation-name: fadeInUp;
  -moz-animation-name: fadeInUp;
  -o-animation-name: fadeInUp;
  animation-name: fadeInUp;
}
